.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  color: white;
}

.explore-card {
  overflow: hidden;
  border: none;
  position: relative;
  transition: transform 0.3s ease;
}

.explore-card:hover {
  transform: scale(1.02);
}

.explore-card img {
  transition: transform 0.5s ease;
}

.explore-card:hover img {
  transform: scale(1.1);
}

.explore-card .card-img-overlay {
  transition: background-color 0.3s ease;
}

.explore-card:hover .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.MuiFormLabel-root {
  color: #333;
  font-size: 1rem;
}
.MuiChip-root {
  margin-bottom: 8px;
}

.carousel-caption h2 {
  font-size: 2.2rem;
}

.carousel-caption p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.carousel-img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(0.85);
}

.carousel {
  position: relative;
  height: 85vh;
}
